language: rust
sudo: required
dist: trusty
addons:
    apt:
        packages:
            - libssl-dev
            - xorg-dev
            - libxrandr-dev
cache: cargo
rust:
  - nightly
script:
- cargo clean
- cargo build
- cargo test

after_success: |
  bash <(curl https://raw.githubusercontent.com/xd009642/tarpaulin/master/travis-install.sh)
  cargo tarpaulin --out Xml
  bash <(curl -s https://codecov.io/bash)
